.button {
	outline: none;
	background-color: initial;

	border: 1px solid white;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 3px;
	transition: all 0.4s ease-in-out;

	&:hover {
		background-color: rgba(190, 190, 190, 0.356);
	}
}
